<article class="clips-container">
    <div class="clips-icon">
        <i class="profile">
            <i><img src = "/public/Logo.png" height="55" width="65"></i>
            <i>

              {{author}}

            </i>
        </i>
    </div>

    <section class = "sound-clips">
        <audio controls = "controls">
        <source src = {{clip}} type = "audio/ogg">
      </audio>
    </section>
    <div class = "author-comments">

      {{comments}}

    </div>
</article>
