<article class="clips-container">
    <div class="clips-icon">
        <i class="profile">
            <i><img src = "Logo.png" height="55" width="65"></i>
            <i>

              {{author}}

            </i>
        </i>
    </div>

    <section class = "sound-clips">
        <audio controls = "controls">
        <source src = {{clip}} type = "audio/ogg">
      </audio>
    </section>

        <div class="clips-content">
            <p class="clips-text">
                <p1 class="clips-time">

                    3:58

                </p1>
            </p>
        </div>
    <div class = "author-comments">

      {{comments}}

    </div>
</article>
