<article class="creator">
<div class="creator-icon">
  <i class="profile-picture">
      <img src = "Logo.png" height="55" width="65">
    </i>
</div>
<div class="creator-content">
  <p class="creator-text">
      {{username}}
  </p>
  <p class="creator-attribution">
    Followers: {{count}}
  </p>
</div>
</article>