<!-- FEATURED CREATORS -->

  <main class = "creator-full-container">

  <div class = "creator-title"><p>FEATURED USERS</p></div>

  <main class="creator-container">
  <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

      <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username2
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

  <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username2
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

  <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username2
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

  </main>
  </main>



  <!-- FEATURED clyps -->


  <main class = "clips-full-container">
  <div class = "clips-title"><p>FEATURED CLIPS</p></div>

    {{#each clip}}
      {{> clip}}
    {{/each}}

  </main>

<div id="modal_backdrop" class="hide_modal"></div>
<div id="modal_container" class="hide_modal">
  
   <div class="modal_content">

    <div class="modal_head">
      <h3>Add New Recording</h3>
      <button type="button" class="modal_close">&times;</button>
     </div>

    <div class = "recorder_content">
      <h4>Recording Information</h4>
        <section class="main_controls">
          <div id="jquery_jplayer_1" class="jp-jplayer"></div>
          <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-single">
              <div class="jp-gui jp-interface">
                <div class="jp-controls">
                  <button class="jp-play" role="button" tabindex="0">play</button>
                  <button class="jp-stop" role="button" tabindex="0">stop</button>
                </div>
                <div class="jp-progress">
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                  </div>
                </div>
                <div class="jp-volume-controls">
                  <button class="jp-mute" role="button" tabindex="0">mute</button>
                  <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                  <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                  </div>
                </div>
                <div class="jp-time-holder">
                  <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                  <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                  <div class="jp-toggles">
                    <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                  </div>
                </div>
              </div>
              <div class="jp-details">
                <div class="jp-title" aria-label="title">&nbsp;</div>
              </div>

            </div>
          </div>
          <button class="record">Record</button>
          <button class="stop">Stop</button>
      </button>
    </div>

        <div class="modal_body">
          <div class="input_box">
            <label for="input_text">Enter Title</label>
            <textarea id="input_text"></textarea>
          </div>
          <div class="input_box">
            <label for="contributor_text">Username</label>
            <input type="text" id="contributor_text">
          </div>
        </div>

        <div class="modal_foot">
          <button type="button" class="modal_submit">Submit</button>
          <button type="button" class="modal_cancel">Cancel</button>
        </div>

      </div>
    </div>