<!-- FEATURED CREATORS -->

  <main class = "creator-full-container">

  <div class = "creator-title"><p>FEATURED USERS</p></div>

  <main class="creator-container">
  <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

      <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username2
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

  <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username2
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

  <article class="creator">
    <div class="creator-icon">
      <i class="profile-picture">
          <img src = "Logo.png" height="55" width="65">
        </i>
    </div>
    <div class="creator-content">
      <p class="creator-text">
          Username2
      </p>
      <p class="creator-attribution">
        Followers: 10
      </p>
    </div>
  </article>

  </main>
  </main>



  <!-- FEATURED clyps -->

  <div class = "clips-title"><p>FEATURED CLIPS</p></div>
  <main class = "clips-full-container">


  </main>

<div id="modal_backdrop" class="hide_modal"></div>
<div id="modal_container" class="hide_modal">

   <div class="modal_content">

    <div class="modal_head">
      <h3>Add New Recording</h3>
      <button type="button" class="modal_close">&times;</button>
     </div>

    <div class = "recorder_content">
      <h4>Recording Information</h4>

          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <section class="main-controls">
            <canvas class="visualizer"></canvas>

          </section>

          <section class="modal-sound-clips">

            <!-- <article class="clip">
              <audio controls></audio>
              <a href="">Download clip</a>
            </article> -->

          </section>
    </div>

        <div class="modal_body">
          <div class="input_box">
            <label for="author_text">Author</label>
            <input type="text" id="author_text">
          </div>
          <div class="input_box">
            <label for="comment_text">Comments</label>
            <textarea id="comment_text"></textarea>
          </div>
        </div>

        <div class="modal_foot">
          <button type="button" class="modal_submit">Submit</button>
          <button type="button" class="modal_cancel">Cancel</button>
        </div>

      </div>
    </div>
