body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0px;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #3FBDB2;
  color: #fff;
}


#logo {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
}

#upload-button{
    background-color: #FFBB03;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    border-radius: 50%;
}

.table-right{
    float: right;
}

.navbar {
  background-color: #FDFFFC;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0;
  padding: 0;
}

.navitem {
  display: inline-block;
  padding: 10px 20px;}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
    color: #464a51;
}

.navlink.active {
  box-shadow: inset 0 -3px #FDFFFC;
}

.navbar-search {
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

///////////////
//  Creator  //
///////////////

.creator-title{
  width: auto;
  margin-top: 60px;
}

.creator-full-container{
  margin-left: 10%;
  width: 80%;
}

.creator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creator {
  margin: 0;
  width: 30%;
  display: flex;
  float: left;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.creator-icon {
  font-size: 24px;
}

.creator-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.creator-content p {
  margin: 0;
}

.creator-content .creator-attribution {
  margin-top: 8px;
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .creator {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .creator-full-container{
    margin-left: 0;
    width: 100%;
  }

  .creator {
    width: 100%;
  }
}

////////////
//  Clips //
////////////

.clips-title{
    width: auto;
    margin-top: 60px;
}

.clips-full-container{
    margin-left: 10%;
    width: 80%;
    padding-bottom: 10px;
}


.clips-container {
    margin-bottom: 30px;
    display: inherit;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    border: 1px solid #dadada;
    background-color: #fff;
}

.clips-icon {
    font-size: 24px;
    border: 1px solid #dadada;
    padding: 0;
    margin: 0px;
}

.clips-icon i{
    margin: 10px;
}

.clips {
  flex: 0 1 28%;
  display: flex;   
  margin: 0px;
  padding: 20px;
  border-radius: 2px;
}

.clips-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.clips-content p {
  margin: 0;
}

.clips-content .clips-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}

.author-comments{
    margin: 0;
    padding: 20px;
    border: 1px solid green;
    border-radius: 2px;
    background-color: #fff;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
  .clips-full-container {
    margin-left: 0;
    width: 100%;
  }
}

////////////////
//  404 Page  //
////////////////

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}

//////////////
//  Footer  //
//////////////

.footer-table{
    overflow: hidden;
    background-color: #FDFFFC;
    position: fixed;
    bottom: 0;
    width: 130%;
    position: fixed;
}

footer{
     flex-direction: row;
    align-items: center;
    padding: 0 20px;background-color: #FDFFFC;display: flex;
    font-size: 13px;
    color: #8C95A0;
}


.footer-section {
   display: flex;
flex-basis: 33.33%;
}

.footer-final{
  display: flex;
  flex-wrap: wrap;
}

.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

.link-list li{
    float: left;
}

.link-list li a{
     display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

//////////////
//  Modal  //
/////////////
#modal_backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  background-color: rgba(0, 0, 0, 0.85);
}

#modal_container {
  font-family: Roboto, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 850;
  overflow: scroll;
}

.hide_modal{
	display: none;
}

.record{
	border-radius: 30px;
	min-width: 30px;
	min-height: 30px;
	padding: 10px;
	margin: 15px;
	font-size: 18px;
	box-shadow: none; 
	border: none;
	background-color: #F4140D; 
}

.record:hover{
	box-shadow: 10px 2px;
}

.stop{
	border-radius: 30px;
	min-width: 30px;
	min-height: 30px;
	padding: 10px;
	margin: 15px;
	font-size: 18px;
	box-shadow: none; 
	border: none;
}

.stop:hover{
	box-shadow: 10px 2px;
}

.recorder_content{
	min-width: 350px;
	max-width: 650px;
	min-height: 200px;
	padding: 20px;
	margin: 5px auto;
}

.recorder_content h4 {
  margin: 0;
  font-size: 22px;
}

.main_controls{
	padding: 5px;
	margin: 1px;
}


.modal_content {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 550px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal_head {
  position: relative;
  padding: 10px 20px;
  background-color: #3FBDB2;
  border-radius: 15px;
}

.modal_head h3 {
  margin: 0;
  font-size: 28px;
}

.modal_close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal_body {
  padding: 20px;
}

.input_box {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.input_box label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.input_box input,
.input_box textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.input_box textarea {
  min-height: 64px;
}

.modal_foot {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal_foot button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal_foot .modal_cancel:hover {
  background-color: #F4140D;
}

.modal_foot .modal_submit {
  background-color: #3FBDB2;
  color: #fff;
}

.modal_foot .modal_submit:hover {
  background-color: #15FF00;
}


////////////////////////////
//  Sourced Media Player  //
////////////////////////////
/*! Blue Monday Skin for jPlayer 2.9.2 ~ (c) 2009-2014 Happyworm Ltd ~ MIT License */.jp-audio :focus,.jp-audio-stream :focus,.jp-video :focus{outline:0}.jp-audio button::-moz-focus-inner,.jp-audio-stream button::-moz-focus-inner,.jp-video button::-moz-focus-inner{border:0}.jp-audio,.jp-audio-stream,.jp-video{font-size:16px;font-family:Verdana,Arial,sans-serif;line-height:1.6;color:#666;border:1px solid #009be3;background-color:#eee}.jp-audio{width:420px}.jp-audio-stream{width:182px}.jp-video-270p{width:480px}.jp-video-360p{width:640px}.jp-video-full{width:480px;height:270px;position:static!important;position:relative}.jp-video-full div div{z-index:1000}.jp-video-full .jp-jplayer{top:0;left:0;position:fixed!important;position:relative;overflow:hidden}.jp-video-full .jp-gui{position:fixed!important;position:static;top:0;left:0;width:100%;height:100%;z-index:1001}.jp-video-full .jp-interface{position:absolute!important;position:relative;bottom:0;left:0}.jp-interface{position:relative;background-color:#eee;width:100%}.jp-audio .jp-interface,.jp-audio-stream .jp-interface{height:80px}.jp-video .jp-interface{border-top:1px solid #009be3}.jp-controls-holder{clear:both;width:440px;margin:0 auto;position:relative;overflow:hidden;top:-8px}.jp-interface .jp-controls{margin:0;padding:0;overflow:hidden}.jp-audio .jp-controls{width:380px;padding:20px 20px 0}.jp-audio-stream .jp-controls{position:absolute;top:20px;left:20px;width:142px}.jp-video .jp-type-single .jp-controls{width:78px;margin-left:200px}.jp-video .jp-type-playlist .jp-controls{width:134px;margin-left:172px}.jp-video .jp-controls{float:left}.jp-controls button{display:block;float:left;overflow:hidden;text-indent:-9999px;border:none;cursor:pointer}.jp-play{width:40px;height:40px;background:url(jplayer.blue.monday.jpg) no-repeat}.jp-play:focus{background:url(jplayer.blue.monday.jpg) -41px 0 no-repeat}.jp-state-playing .jp-play{background:url(jplayer.blue.monday.jpg) 0 -42px no-repeat}.jp-state-playing .jp-play:focus{background:url(jplayer.blue.monday.jpg) -41px -42px no-repeat}.jp-next,.jp-previous,.jp-stop{width:28px;height:28px;margin-top:6px}.jp-stop{background:url(jplayer.blue.monday.jpg) 0 -83px no-repeat;margin-left:10px}.jp-stop:focus{background:url(jplayer.blue.monday.jpg) -29px -83px no-repeat}.jp-previous{background:url(jplayer.blue.monday.jpg) 0 -112px no-repeat}.jp-previous:focus{background:url(jplayer.blue.monday.jpg) -29px -112px no-repeat}.jp-next{background:url(jplayer.blue.monday.jpg) 0 -141px no-repeat}.jp-next:focus{background:url(jplayer.blue.monday.jpg) -29px -141px no-repeat}.jp-progress{overflow:hidden;background-color:#ddd}.jp-audio .jp-progress{position:absolute;top:32px;height:15px}.jp-audio .jp-type-single .jp-progress{left:110px;width:186px}.jp-audio .jp-type-playlist .jp-progress{left:166px;width:130px}.jp-video .jp-progress{top:0;left:0;width:100%;height:10px}.jp-seek-bar{background:url(jplayer.blue.monday.jpg) 0 -202px repeat-x;width:0;height:100%;cursor:pointer}.jp-play-bar{background:url(jplayer.blue.monday.jpg) 0 -218px repeat-x;width:0;height:100%}.jp-seeking-bg{background:url(jplayer.blue.monday.seeking.gif)}.jp-state-no-volume .jp-volume-controls{display:none}.jp-volume-controls{position:absolute;top:32px;left:308px;width:200px}.jp-audio-stream .jp-volume-controls{left:70px}.jp-video .jp-volume-controls{top:12px;left:50px}.jp-volume-controls button{display:block;position:absolute;overflow:hidden;text-indent:-9999px;border:none;cursor:pointer}.jp-mute,.jp-volume-max{width:18px;height:15px}.jp-volume-max{left:74px}.jp-mute{background:url(jplayer.blue.monday.jpg) 0 -170px no-repeat}.jp-mute:focus{background:url(jplayer.blue.monday.jpg) -19px -170px no-repeat}.jp-state-muted .jp-mute{background:url(jplayer.blue.monday.jpg) -60px -170px no-repeat}.jp-state-muted .jp-mute:focus{background:url(jplayer.blue.monday.jpg) -79px -170px no-repeat}.jp-volume-max{background:url(jplayer.blue.monday.jpg) 0 -186px no-repeat}.jp-volume-max:focus{background:url(jplayer.blue.monday.jpg) -19px -186px no-repeat}.jp-volume-bar{position:absolute;overflow:hidden;background:url(jplayer.blue.monday.jpg) 0 -250px repeat-x;top:5px;left:22px;width:46px;height:5px;cursor:pointer}.jp-volume-bar-value{background:url(jplayer.blue.monday.jpg) 0 -256px repeat-x;width:0;height:5px}.jp-audio .jp-time-holder{position:absolute;top:50px}.jp-audio .jp-type-single .jp-time-holder{left:110px;width:186px}.jp-audio .jp-type-playlist .jp-time-holder{left:166px;width:130px}.jp-current-time,.jp-duration{width:60px;font-size:.64em;font-style:oblique}.jp-current-time{float:left;display:inline;cursor:default}.jp-duration{float:right;display:inline;text-align:right;cursor:pointer}.jp-video .jp-current-time{margin-left:20px}.jp-video .jp-duration{margin-right:20px}.jp-details{font-weight:700;text-align:center;cursor:default}.jp-details,.jp-playlist{width:100%;background-color:#ccc;border-top:1px solid #009be3}.jp-type-playlist .jp-details,.jp-type-single .jp-details{border-top:none}.jp-details .jp-title{margin:0;padding:5px 20px;font-size:.72em;font-weight:700}.jp-playlist ul{list-style-type:none;margin:0;padding:0 20px;font-size:.72em}.jp-playlist li{padding:5px 0 4px 20px;border-bottom:1px solid #eee}.jp-playlist li div{display:inline}div.jp-type-playlist div.jp-playlist li:last-child{padding:5px 0 5px 20px;border-bottom:none}div.jp-type-playlist div.jp-playlist li.jp-playlist-current{list-style-type:square;list-style-position:inside;padding-left:7px}div.jp-type-playlist div.jp-playlist a{color:#333;text-decoration:none}div.jp-type-playlist div.jp-playlist a.jp-playlist-current,div.jp-type-playlist div.jp-playlist a:hover{color:#0d88c1}div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove{float:right;display:inline;text-align:right;margin-right:10px;font-weight:700;color:#666}div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover{color:#0d88c1}div.jp-type-playlist div.jp-playlist span.jp-free-media{float:right;display:inline;text-align:right;margin-right:10px}div.jp-type-playlist div.jp-playlist span.jp-free-media a{color:#666}div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{color:#0d88c1}span.jp-artist{font-size:.8em;color:#666}.jp-video-play{width:100%;overflow:hidden;cursor:pointer;background-color:transparent}.jp-video-270p .jp-video-play{margin-top:-270px;height:270px}.jp-video-360p .jp-video-play{margin-top:-360px;height:360px}.jp-video-full .jp-video-play{height:100%}.jp-video-play-icon{position:relative;display:block;width:112px;height:100px;margin-left:-56px;margin-top:-50px;left:50%;top:50%;background:url(jplayer.blue.monday.video.play.png) no-repeat;text-indent:-9999px;border:none;cursor:pointer}.jp-video-play-icon:focus{background:url(jplayer.blue.monday.video.play.png) 0 -100px no-repeat}.jp-jplayer,.jp-jplayer audio{width:0;height:0}.jp-jplayer{background-color:#000}.jp-toggles{padding:0;margin:0 auto;overflow:hidden}.jp-audio .jp-type-single .jp-toggles{width:25px}.jp-audio .jp-type-playlist .jp-toggles{width:55px;margin:0;position:absolute;left:325px;top:50px}.jp-video .jp-toggles{position:absolute;right:16px;margin:10px 0 0;width:100px}.jp-toggles button{display:block;float:left;width:25px;height:18px;text-indent:-9999px;line-height:100%;border:none;cursor:pointer}.jp-full-screen{background:url(jplayer.blue.monday.jpg) 0 -310px no-repeat;margin-left:20px}.jp-full-screen:focus{background:url(jplayer.blue.monday.jpg) -30px -310px no-repeat}.jp-state-full-screen .jp-full-screen{background:url(jplayer.blue.monday.jpg) -60px -310px no-repeat}.jp-state-full-screen .jp-full-screen:focus{background:url(jplayer.blue.monday.jpg) -90px -310px no-repeat}.jp-repeat{background:url(jplayer.blue.monday.jpg) 0 -290px no-repeat}.jp-repeat:focus{background:url(jplayer.blue.monday.jpg) -30px -290px no-repeat}.jp-state-looped .jp-repeat{background:url(jplayer.blue.monday.jpg) -60px -290px no-repeat}.jp-state-looped .jp-repeat:focus{background:url(jplayer.blue.monday.jpg) -90px -290px no-repeat}.jp-shuffle{background:url(jplayer.blue.monday.jpg) 0 -270px no-repeat;margin-left:5px}.jp-shuffle:focus{background:url(jplayer.blue.monday.jpg) -30px -270px no-repeat}.jp-state-shuffled .jp-shuffle{background:url(jplayer.blue.monday.jpg) -60px -270px no-repeat}.jp-state-shuffled .jp-shuffle:focus{background:url(jplayer.blue.monday.jpg) -90px -270px no-repeat}.jp-no-solution{padding:5px;font-size:.8em;background-color:#eee;border:2px solid #009be3;color:#000;display:none}.jp-no-solution a{color:#000}.jp-no-solution span{font-size:1em;display:block;text-align:center;font-weight:700}
