body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0px;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #3FBDB2;
  color: #fff;
}


#logo {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
}

#upload-button{
    background-color: #FFBB03;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    border-radius: 50%;
}

.table-right{
    float: right;
}

.navbar {
  background-color: #FDFFFC;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0;
  padding: 0;
}

.navitem {
  display: inline-block;
  padding: 10px 20px;}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
    color: #464a51;
}

.navlink.active {
  box-shadow: inset 0 -3px #FDFFFC;
}

.navbar-search {
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

///////////////
//  Creator  //
///////////////

.creator-title{
  width: auto;
  margin-top: 60px;
}

.creator-full-container{
  margin-left: 10%;
  width: 80%;
}

.creator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creator {
  margin: 0;
  width: 30%;
  display: flex;
  float: left;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.creator-icon {
  font-size: 24px;
}

.creator-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.creator-content p {
  margin: 0;
}

.creator-content .creator-attribution {
  margin-top: 8px;
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .creator {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .creator-full-container{
    margin-left: 0;
    width: 100%;
  }

  .creator {
    width: 100%;
  }
}

////////////
//  Clips //
////////////

.clips-title{
    width: auto;
    margin-top: 60px;
}

.clips-full-container{
    margin-left: 10%;
    width: 80%;
    padding-bottom: 10px;
}


.clips-container {
    margin-bottom: 30px;
    display: inherit;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    border: 1px solid #dadada;
    background-color: #fff;
}

.clips-icon {
    font-size: 24px;
    border: 1px solid #dadada;
    padding: 0;
    margin: 0px;
}

.clips-icon i{
    margin: 10px;
}

.clips {
  flex: 0 1 28%;
  display: flex;   
  margin: 0px;
  padding: 20px;
  border-radius: 2px;
}

.clips-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.clips-content p {
  margin: 0;
}

.clips-content .clips-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}

.author-comments{
    margin: 0;
    padding: 20px;
    border: 1px solid green;
    border-radius: 2px;
    background-color: #fff;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
  .clips-full-container {
    margin-left: 0;
    width: 100%;
  }
}

////////////////
//  404 Page  //
////////////////

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}

//////////////
//  Footer  //
//////////////

.footer-table{
    overflow: hidden;
    background-color: #FDFFFC;
    position: fixed;
    bottom: 0;
    width: 130%;
    position: fixed;
}

footer{
     flex-direction: row;
    align-items: center;
    padding: 0 20px;background-color: #FDFFFC;display: flex;
    font-size: 13px;
    color: #8C95A0;
}


.footer-section {
   display: flex;
flex-basis: 33.33%;
}

.footer-final{
  display: flex;
  flex-wrap: wrap;
}

.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

.link-list li{
    float: left;
}

.link-list li a{
     display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}